@chartset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #333;
}
.box{
	position: relative;
	width: 800px;
	height: 300px;
	margin: 50px auto;
}
.box .item{
	float: left;
	width: 220px;
	height: 300px;
	margin:0 20px;
}
.box .item .icon{
	display: block;
	width: 100%;
	height: 190px;
	transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
}
.box .item.item-mission .icon{
	background: url(../images/mission.png) no-repeat center;
}
.box .item.item-play .icon{
	background: url(../images/play.png) no-repeat center;
}
.box .item.item-touch .icon{
	background: url(../images/touch.png) no-repeat center;
}
.box .item .icon:hover{
	transform: rotate(360deg) scale(1.2);
	-ms-transform: rotate(360deg) scale(1.2);
	-webkit-transform: rotate(360deg) scale(1.2);
	-moz-transform: rotate(360deg) scale(1.2);
	-o-transform: rotate(360deg) scale(1.2);
}
.box .item .button{
	position: relative;
	display: block;
	width: 180px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	color: #2dcb70;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	border: 2px solid rgba(255,255,255,0.8);
	padding-left: 20px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	background: url(../images/allow.png) no-repeat 130px center;
	transition: 0.4s ease-out;
	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
}
.box .item .button:hover{
	border: 2px solid rgba(255,255,255,1);
	background-position: 140px center;
}
.box .item .button .line{
	position: absolute;
	transition: 0.4s ease-out;
	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
}
.box .item .button:hover .line{
	background-color: #fff;
}
.box .item .button .line.line-top{
	width: 0px;
	height: 2px;
	left: -100%;
	top: -2px;
}
.box .item .button:hover .line.line-top{
	width: 100%;
	left: -2px;
}
.box .item .button .line.line-right{
	width: 2px;
	height: 0px;
	right: -2px;
	top: -100%;
}
.box .item .button:hover .line.line-right{
	height: 100%;
	top: -2px;
}
.box .item .button .line.line-bottom{
	width: 0px;
	height: 2px;
	right: -100%;
	bottom: -2px;
}
.box .item .button:hover .line.line-bottom{
	width: 100%;
	right: -2px;
}
.box .item .button .line.line-left{
	width: 2px;
	height: 0px;
	left: -2px;
	bottom: -100%;
}
.box .item .button:hover .line.line-left{
	height: 100%;
	bottom: -2px;
}
.box .tips{
	position: absolute;
	top: 100px;
	height: 35px;
	line-height: 35px;
	padding: 0 14px;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
	background-color: #2dcb70;
	opacity: 0;
}
.box .tips em{
	font-style: normal;
}
.box .tips span{
	position: absolute;
	top: 35px;
	left: 50%;
	margin-left: -8px;
	width: 0px;
	height: 0px;
	border: 8px solid transparent;
	border-top-color: #2dcb70;
}